.DanceabilitySlider {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: .0rem;
  margin-bottom: 0rem;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  padding: 3rem 2rem;
  border-radius: 15px;
  background-color: #302438;
 

  }

  .btn btn-outline-secondary{

  }