/* .GenreButtons {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  } */